@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

:root {
  --accent-color: #d4af37;
  --accent-hover: #9e7a28;
  --white-color: #ffffff;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --font-family: "Cairo", sans-serif;

  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;

  --bs-body-bg: #ffffff;
  --bs-body-color: #212529;
  --bs-secondary-bg: #f1f3f5;
  --bs-heading-color: #212529;
  --bs-navbar-bg: #f8f9fa;
  --bs-navbar-color: #212529;
  --bs-btn-bg: #212529;
  --bs-btn-color: #ffffff;
  --bs-link-color: var(--accent-color);
  --bs-link-hover-color: var(--accent-hover);
  --bs-border-color: #dee2e6;
  --bs-muted-color: #6c757d;
  --bs-btn-border-color: #212529;
}

:root[data-bs-theme="dark"] {
  --accent-color: #d4af37;
  --accent-hover: #9e7a28;
  --white-text-color: #000000;
  --black-text-color: #ffffff;

  --bs-primary: #375a7f;
  --bs-secondary: #444950;
  --bs-success: #28a745;
  --bs-info: #17a2b8;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #212529; 
  --bs-dark: #f8f9fa;

  --bs-body-bg: #121212;
  --bs-body-color: #f8f9fa;
  --bs-secondary-bg: #1a1a1a;
  --bs-heading-color: #ffffff;
  --bs-navbar-bg: #1a1a1a;
  --bs-navbar-color: #ffffff;
  --bs-btn-bg: #ffffff;
  --bs-btn-color: #000000;
  --bs-link-color: var(--accent-color);
  --bs-link-hover-color: var(--accent-hover);
  --bs-border-color: #495057;
  --bs-muted-color: #adb5bd;
  --bs-btn-border-color: #f8f9fa;
}



body {
  min-height: 100vh;
  text-align: center;
  background-color: var(--bs-body-bg);
  display: flex;
  flex-direction: column;
  color: var(--bs-body-color);
  font-family: var(--font-family);
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


